@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap");

.ant-table,
.ant-table * {
  /* font-family: "__Inter_0ec1f4", "__Inter_Fallback_0ec1f4" !important; */
  font-family: "Inter", sans-serif !important;
}

.ant-table-thead > tr > th {
  @apply bg-neutral-100 text-neutral-500 text-caption font-semibold py-3 !important;
}
.ant-table-wrapper .ant-table-thead > tr > th {
  padding: 10px 24px 10px 12px !important;
}

.ant-table-thead > tr > .ant-table-cell {
  padding: 12px 16px !important;
}

.ant-table-tbody > tr > .ant-table-cell {
  padding: 14px 24px 14px 12px !important;
}

.ant-table-thead > tr > td {
  @apply bg-neutral-100 text-neutral-500 text-caption font-semibold !important;
}

.ant-table-cell {
  @apply px-6 !important;
}

.ant-table-cell:first-child {
  @apply pr-1.5 !important;
}

.ant-table-cell:nth-child(2) {
  @apply pl-1.5 !important;
}

/* Normal State */
.ant-checkbox-inner {
  border-radius: 6px !important;
}

.ant-checkbox-checked:after {
  border-radius: 6px !important;
}

.ant-dropdown-menu {
  @apply px-3 py-2 !important;
}

.ant-dropdown-menu-item {
  @apply p-2 !important;
}

.ant-table-filter-dropdown {
  @apply rounded-lg !important;
}

.filter > .ant-checkbox-wrapper > .ant-checkbox {
  /* @apply mr-1 !important; */
}

.ant-table-tbody > tr.ant-table-row:hover > td {
  @apply bg-neutral-100 !important;
}

.ant-table-filter-column {
  @apply min-w-max !important;
}

/* .ant-checkbox {
  @apply ml-[-8px] !important;
  @apply min-[1900px]:ml-[-10px] !important;
  @apply min-[2000px]:ml-[-12px] !important;
  @apply min-[2100px]:ml-[-14px] !important;
  @apply min-[2200px]:ml-[-16px] !important;
  @apply min-[2300px]:ml-[-18px] !important;
  @apply min-[2400px]:ml-[-20px] !important;
  @apply min-[2500px]:ml-[-22px] !important;
  @apply min-[2600px]:ml-[-24px] !important;
} */
.ant-table-selection-column {
  padding-right: 8px !important;
}
.ant-table-selection-column .ant-checkbox-wrapper {
  margin-right: 0px !important;
}
th.ant-table-cell.ant-table-selection-column.ant-table-cell-fix-left {
  padding-right: 0px !important;
}
td.ant-table-cell.ant-table-selection-column.ant-table-cell-fix-left {
  padding-right: 0px !important;
  padding-left: 12px !important;
}

:where(.css-dev-only-do-not-override-fkqrct).ant-table-wrapper
  table
  tr
  th.ant-table-selection-column,
:where(.css-dev-only-do-not-override-fkqrct).ant-table-wrapper
  table
  tr
  td.ant-table-selection-column {
  text-align: right;
}

:where(.css-dev-only-do-not-override-fkqrct).ant-checkbox-disabled
  .ant-checkbox-inner {
  @apply bg-neutral-100 border border-neutral-200 !important;
}

:where(.css-dev-only-do-not-override-fkqrct).ant-table-wrapper
  .ant-table-footer {
  padding: 8px 16px !important;
  color: rgba(0, 0, 0, 0.88);
  background: #fafafa;
}
